<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
	<head th:replace="template :: head"></head>
	<body>

		<header th:replace="template :: header"></header>
	
		<div class="contenido">
			<div class="publicidad">
				<a href="http://www.cinestar.com.pe/starcard/"><img th:src="@{/img/varios/starcard.jpg}"/></a>
				<a href="http://www.cinestar.com.pe/cinefilo_star/"><img th:src="@{/img/varios/cinefilo-star.jpg}"/></a>
			</div>
			<div class="contenido-interno" id="contenido-interno">
				
				<br/><h1>Cartelera</h1><br/>
				<div class="contenido-pelicula" th:each="pelicula : ${peliculas}">
					<div class="datos-pelicula">
						<h2 th:text="${pelicula.Titulo}" ></h2><br/>
						<p th:text="${pelicula.Sinopsis}" ></p>
						<br/>
                       	<div class="boton-pelicula"> 
                       		<a th:href="@{/pelicula/{id}(id=${pelicula.id})}" >
                       			<img th:src="@{/img/varios/btn-mas-info.jpg}" width="120" height="30" alt="Ver info"/>
                       		</a>
               			</div>
               			<div class="boton-pelicula"> 
               				<a th:href="@{${'https://www.youtube.com/v/' + pelicula.Link}}" target=_blank  onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )" >
               					<img th:src="@{/img/varios/btn-trailer.jpg}" width="120" height="30" alt="Ver trailer"/>
               				</a>
                        </div> 
					</div>
					<img th:src="@{${'/img/pelicula/' + pelicula.id +'.jpg'}}" width="160" height="226"/><br/><br/>
				</div>

			</div>
		</div>
		<div class="clearbox"><br></div>

		<footer th:replace="template :: footer"></footer>

	</body>
</html>